/* Global styles come from external css https://codepen.io/GreenSock/pen/gOWxmWG */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap");

body {
  background-color: #0e100f;
  min-height: 200vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome {
  margin-top: 10vh;
  text-align: center;
}
.welcomeMsg {
  opacity: 1;
  font-size: 50px;
  font-family: "IBM Plex Sans", serif;
  color: #b4bcf5;
  margin: 20px;
}
.openBtn {
  position: relative;
  top: 80vh;
  height: 50px;
  width: 100px;
  margin: 0px;
  background-color: white;
  text-align: center;
}
